.button {
  border-radius: 50px;
  background-color: #3F8363;
  color: white;
  padding: 8px 24px;
}

.btn-ghost {
  color: #f50c0c;
  border: 1px solid #f50c0c;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-flat {
  color: rgb(162, 160, 160);
  padding: 8px 24px;
  border-radius: 4px;
  background: rgb(238, 231, 231);
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: rgb(238, 231, 231);
  color: rgb(159, 157, 157);
}
